<!DOCTYPE html>
	<head>
	    <meta charset="UTF-8">
	    <title>Comic Book Database</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" type="text/css" href="assets/css/main.css"/>
 
	</head>
	<body ng-app="appComic"  ng-controller="comicController">
		<header class="mainHeader base_size center flex">
			<div class="headerTitle base_size center flex">
				<h1>Comic Book Database</h1>
			</div>
			<div class="headerSearchContainer flex">
				<input type="text" class="headerSearchInput form-control" placeholder="Search"  ng-model="selectedName" uib-typeahead="name for name in comicsNamesFromJson | filter:$viewValue" />
				<button type="button" class="headerSearchButton" ng-click="findComic()">Find</button>	
			</div>
		</header>
		<div class="wrapperSearchResults ng-scope">		

			<section class="searchResultContent flex">
				<div class="wrapperItensSearch">
					<h3> Search Results </h3>
					<div search-results></div>
			</section>
		</div>
	    <script src="assets/js/angular.min.js"> </script>	

	    <script src="assets/js/ui-bootstrap-tpls-2.4.0.min.js" > </script>
	    <script src="assets/js/comic_controller.js"> </script>
	    <script src="assets/js/directives/searchResults.js"> </script>  
		
	</body>
</html>