@import "compass";
@import "variables";

/* Global */

html {
    font-size: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
}

p {
    font-size: calc(0.6em + 0.5vw);
}

/* END */

/* Utility */

.center {
    margin: 0 auto;
}

.base_size {
    max-width: 1200px;
    width: 100%;
}

.flex {
    @include display-flex;
}

.totalWrapper {
    @include flex-wrap(wrap);

    height: 100%;
}

/* End Utility */

/* Header */

.mainHeader {
    background:$mainYellow;

    @include flex-wrap(wrap);

    height: 340px;

    @include justify-content(center);

    padding: 0 0 50px 0;
    width: 100%;
}

.headerTitle {
    @include align-items(center);
    @include justify-content(center);

    width: 100%;
}

.headerTitle h1 {
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: calc(1.2em + 1.5vw);
    padding: 50px 0;
    text-align: center;
}

.headerSearchInput {
    border: none;
    border-right: #f4db6f;
    color: #b8b8b8;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    height: 72px;
    width: 80%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 0;
    text-indent: 27px;
}

.headerSearchContainer {
    @include flex-wrap(wrap);

    height: 72px;

    @include justify-content(center);

    width: 500px;
}

.headerSearchButton {
    background-color: #5C7E35;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color:#FFFFFF;
    cursor: pointer;
    font-size: calc(0.6em + 0.5vw);
    height: 72px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 20%;
}

.dropdown-menu.ng-isolate-scope {
    @include align-items(center);

    background: #FFFFFF;

    @include display-flex;

    list-style: none;

    @include flex-wrap(wrap);

    margin: 0;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding: 0;
    text-align: left;
    width: 100%;
}

.dropdown-menu.ng-isolate-scope li {
    border-top: 1px solid #e2e2e2;
    height: 40px;
    text-indent: 27px;
    width: 100%;
}

.dropdown-menu.ng-isolate-scope li:last-child {
    border-bottom: 1px solid #e2e2e2;
}

.dropdown-menu.ng-isolate-scope a {
    color: #b8b8b8;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    height: 72px;
    text-decoration: none;
}



/* Fim Header */

/* Search Content */

.searchResultContent {
    @include justify-content(center);
    @include flex-wrap(wrap);

    width: 100%;
}

.searchResultContent h3 {
    width: 100%;
}

.noSearchYet {
    color: #c8c8c8;

    @include flex-wrap(wrap);

    font-size: 20px;

    @include justify-content(center);

    margin-top: 8%;
    width: 212px;
}

.searchContent {
    @include justify-content(center);

    width: 100%;
}

.actionValues {
    @include align-items(center);

    box-sizing: border-box;
    color: #c8c8c8;
    font-size: 18px;
    margin: 0 4%;
    width: 70%;
}

.openningValue {
    margin-right: 20px;
}

.wrapperSearchResults {
    max-width: 100%;
}

.wrapperSearchResults h3 {
    color: #000000;
}

.wrapperItensSearch {
    max-width: 97%;
    width: 830px;
}

.itemResult
{
	@include flex-wrap(wrap);
	width:100%;
}

.imageComicbook
{
	@include justify-content(center);
	width:100%;
}

.imageComicbook img
{
	max-height:500px;
	width:auto;
}

/* End Search Content */